#number {
  position: sticky;
  text-align: center;
  font-size: 5rem;
}
#delta {
  position: sticky;
  text-align: center;
  font-size: 1rem;
}
#save {
  display: none;
  font-size: 1rem;
}
#load {
  display: none;
  font-size: 1rem;
}
.generator {
  display: inline-block;
  height: 10%;
  width: 100%;
}
.generator .amount {
  width: 25%;
}
.generator .cost {
  width: 25%;
}
.generator .buy {
  width: 25%;
}
.generator .rate {
  width: 25%;
}
.generator div, .generator button {
  display: block;
  text-align: center;
  float: left;
}